$nam-blue: #1B5AA9;
$nam-grey: #B6B6B9;
$nam-yellow: #ffc300;

$body-font:'Roboto Condensed', sans-serif;
$header-font: 'Raleway', sans-serif;;

h2{
  font: 24px $header-font;
  color: $nam-blue;
  letter-spacing: .5px;
  //text-transform: uppercase;
}

h3{
  font: 20px $body-font;
  
}

p {
  font: 16px $body-font;
  
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}


@import "normalize";
@import "box-sizing";
@import "layout";


